<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.codeinspect.dynamicvalues.analysisserver.AndroidExecutorEventHandler">
      <AndroidExecutorEventHandler
            class="de.codeinspect.dynamicanalysisprofiling.demo.AndroidExecutorEventHandler">
      </AndroidExecutorEventHandler>
   </extension>
   <extension
         point="de.codeinspect.analyses.base.Analyses">
      <Analysis
            class="de.codeinspect.dynamicanalysisprofiling.demo.CustomAnalysis"
            id="de.codeinspect.dynamicanalysisprofiling.demo.CustomAnalysis"
            platform="de.codeinspect.platforms.android.platforms.IMatchesAndroidApp"
            runTarget="Slave">
      </Analysis>
   </extension>
   <extension
         point="de.codeinspect.dynamicvalues.GlobalRuntimeValueNotifier">
      <GlobalRuntimeValueNotifier
            class="de.codeinspect.dynamicanalysisprofiling.demo.ValueRuntimeValueNotifier"></GlobalRuntimeValueNotifier>
   </extension>

</plugin>
